version: '2'
services:
  control:
    container_name: jepsen-control
    hostname: control
    build: ./control
    env_file: ./secret/control.env
    privileged: true
    links:
      - n1
      - n2
      - n3
      - n4
      - n5
  node:
    container_name: jepsen-node
    build: ./node
    env_file: ./secret/node.env
    privileged: true
  n1:
    extends: node
    container_name: jepsen-n1
    hostname: n1
  n2:
    extends: node
    container_name: jepsen-n2
    hostname: n2
  n3:
    extends: node
    container_name: jepsen-n3
    hostname: n3
  n4:
    extends: node
    container_name: jepsen-n4
    hostname: n4
  n5:
    extends: node
    container_name: jepsen-n5
    hostname: n5
  ceph-deploy:
    image: ivotron/ceph-deploy
    container_name: ceph-deploy
    command: -c 'chown root:root /root/.ssh/config && ceph-deploy new n1 n2 n3 n4 n5 && ceph-deploy --overwrite-conf mon create'
    working_dir: /tmp
    entrypoint: /bin/bash
    depends_on:
    - control
    volumes:
    - ./secret:/root/.ssh/
    links:
    - n1
    - n2
    - n3
    - n4
    - n5
